// #######################################
//      FONTS
// #######################################

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");
@font-face {
    font-family: "IsaacGame";
    font-weight: normal;
    src: local("IsaacGame"), url("resources/fonts/IsaacGame.ttf") format("truetype");
}
@font-face {
    font-family: "Upheavtt";
    font-weight: normal;
    src: local("Upheavtt"), url("resources/fonts/upheavtt.ttf") format("truetype");
}
@font-face {
    font-family: "Pixel";
    font-weight: normal;
    src: local("Pixel"), url("resources/fonts/Pixel.otf") format("truetype");
}

// #######################################
//      VARIABLES
// #######################################

$text: #3c3536;
$subtitle: #686360;
$font-size: 18px;
$line-height: 22px;

// #######################################
//      MIXINS
// #######################################

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -ms-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -ms-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -ms-box-shadow: $value;
    -o-box-shadow: $value;
    box-shadow: $value;
}

@mixin filter($value) {
    -webkit-filter: $value;
    -moz-filter: $value;
    -ms-filter: $value;
    -o-filter: $value;
    filter: $value;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin touch-action($value) {
    -webkit-touch-action: $value;
    -moz-touch-action: $value;
    -ms-touch-action: $value;
    -o-touch-action: $value;
    touch-action: $value;
}

@mixin inputPlaceholder() {
    $selector: "";
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms",
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}

// #######################################
//      MAIN ELEMENTS
// #######################################

* {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overscroll-behavior: none;
}

html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: $font-size;
    @include touch-action(none);
}

body {
    user-select: none;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;

    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include touch-action(none);
}

img,
video {
    display: block;
}

#root {
    height: 100%;
    width: 100%;
    color: $text;
}

// #######################################
//      APP
// #######################################

.app {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url("resources/background/Background.svg");
    background-repeat: repeat;
    background-size: 50vw;

    .horizontalGrid {
        position: absolute;
        display: grid;
        grid-template-columns: 100vw 100vw 100vw;
        grid-template-rows: 100vh;
        height: 100vh;
        width: 350vw;
        top: 0;
        left: -125vw;
        gap: 0 25vw;

        .cell {
            position: relative;
            height: 100%;
            width: 100%;
        }
    }

    .verticalGrid {
        position: absolute;
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 100vh 100vh;
        height: 220vh;
        width: 100vw;
        top: 0;
        left: 0;
        gap: 20vh 0;

        .cell {
            position: relative;
            height: 100%;
            width: 100%;
        }
    }

    .desktopGrid {
        display: grid;
        grid-template-areas:
            "items items item"
            "items items item"
            "items items options";
        height: 100vh;
        width: 100vw;
        gap: 50px;

        .itemsCell {
            position: relative;
            grid-area: items;
            height: 100%;
            width: 100%;
        }

        .itemCell {
            position: relative;
            grid-area: item;
            height: 100%;
            width: 100%;
        }

        .optionsCell {
            position: relative;
            grid-area: options;
            height: 100%;
            width: 100%;
        }
    }
}

// ##############################################################################
// ##############################################################################
//      COMPONENTS
// ##############################################################################
// ##############################################################################

// #######################################
//      PAPER
// #######################################

.paper {
    height: 100%;
    width: 100%;

    .grid {
        position: absolute;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-rows: auto 1fr auto;
        height: calc(100% - 10px);
        width: calc(100% - 10px);
        margin: 5px;
        gap: 0px 0px;

        .corner {
            height: #{"min(calc(50vw - 5px), 200px)"};
            width: #{"min(calc(50vw - 5px), 200px)"};
        }

        .top {
            height: 100%;
            width: 100%;
            background-image: url("resources/background/Top.png");
            background-size: #{"min(calc(50vw - 5px), 200px)"};
        }

        .left {
            height: 100%;
            width: 100%;
            background-image: url("resources/background/Left.png");
            background-size: #{"min(calc(50vw - 5px), 200px)"};
        }

        .middle {
            height: 100%;
            width: 100%;
            background-image: url("resources/background/Middle.png");
            background-size: #{"min(calc(50vw - 5px), 200px)"};
        }

        .right {
            height: 100%;
            width: 100%;
            background-image: url("resources/background/Right.png");
            background-size: #{"min(calc(50vw - 5px), 200px)"};
        }

        .bottom {
            height: 100%;
            width: 100%;
            background-image: url("resources/background/Bottom.png");
            background-size: #{"min(calc(50vw - 5px), 200px)"};
        }
    }

    .children {
        position: absolute;
        height: calc(100% - 40px);
        width: calc(100% - 40px);
        overflow: visible;
        margin: 20px;

        &.desktop {
            height: calc(100% - 100px);
            width: calc(100% - 100px);
            margin: 50px 50px 50px 50px;
        }
    }
}

// #######################################
//      ITEMS
// #######################################

.items {
    position: relative;
    height: 100%;
    width: 100%;

    .paperContainer {
        position: relative;
        height: 92%;
        width: 100%;

        &.desktop {
            height: 100%;
        }

        .list {
            position: relative;
            height: 90%;
            width: 100%;
            overflow-y: auto;
            margin-top: 20px;

            &.desktop {
                height: calc(100% - 3rem);
                margin-top: 0;
            }

            .titleContainer {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                &.desktop {
                    .arrow {
                        height: 2rem;
                        max-height: 2rem;
                        min-height: 2rem;
                        width: 2rem;
                        max-width: 2rem;
                        min-width: 2rem;
                        margin: 0.5rem;
                    }

                    .title {
                        margin: 50px 10px;
                        font-size: 3rem;
                        line-height: 2.5rem;
                    }

                    .filler {
                        width: 2.5rem;
                    }
                }

                .arrow {
                    transition: transform 0.2s ease-in-out;
                    transform: rotate(100deg);
                    height: 1.3rem;
                    max-height: 1.3rem;
                    min-height: 1.3rem;
                    width: 1.3rem;
                    max-width: 1.3rem;
                    min-width: 1.3rem;
                    margin: 0.5rem;

                    &.closed {
                        transform: rotate(0deg);
                    }
                }

                .title {
                    width: min-content;
                    color: $text;
                    margin: 20px 5px;
                    font-family: "Upheavtt";
                    font-size: 2rem;
                    text-align: center;
                    line-height: 1.5rem;

                    &.desktop {
                        width: unset;
                    }
                }

                .filler {
                    height: 100%;
                    width: 1.8rem;
                }
            }

            .itemsContainer {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                transition: height 0.2s ease-in-out;
                width: calc(100% - 10px);
                margin: 0 5px;

                &.closed {
                    height: 0;
                }

                .itemIcon {
                    height: 50px;
                    max-width: 70px;
                    object-fit: contain;
                    padding: 4px 6px;

                    &.desktop {
                        transition: transform 0.2s ease-in-out;
                        transform: scale(1);
                        height: 70px;
                        max-width: 90px;
                        padding: 6px 8px;

                        &:hover {
                            transform: scale(1.1);
                        }

                        &.clicked {
                            transform: scale(1.2);
                        }
                    }
                }
            }
        }

        .goToTop {
            position: absolute;
            transition: opacity 0.5s ease-in-out, transform 0.2s ease-in-out;
            transform: scale(1);
            right: 0;
            bottom: 3px;
            opacity: 1;
            padding: 10px 20px;

            &.hide {
                opacity: 0;
            }

            &.desktop {
                right: -1rem;
                bottom: -1rem;

                &:hover {
                    transform: scale(1.2);
                }
            }

            .icon {
                transform: rotate(-85deg);
                height: 1.5rem;
                max-height: 1.5rem;
                min-height: 1.5rem;
                width: 1.5rem;
                max-width: 1.5rem;
                min-width: 1.5rem;

                &.desktop {
                    height: 2.5rem;
                    max-height: 2.5rem;
                    min-height: 2.5rem;
                    width: 2.5rem;
                    max-width: 2.5rem;
                    min-width: 2.5rem;
                }
            }
        }

        .selected {
            position: absolute;
            transform: translate(-50%, -50%);
            opacity: 0.4;

            .icon {
                height: 60px;
                max-height: 60px;
                min-height: 60px;
                width: 60px;
                max-width: 60px;
                min-width: 60px;
            }
        }
    }

    .scan {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8%;
        width: 100%;
        opacity: 0.4;
        padding: 0 20px 12px;

        .scanButton {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            .icon {
                transform: rotate(100deg);
                height: 1.5rem;
                max-height: 1.5rem;
                min-height: 1.5rem;
                width: 1.5rem;
                max-width: 1.5rem;
                min-width: 1.5rem;
            }

            .text {
                width: fit-content;
                color: $text;
                margin-left: 10px;
                font-family: "IsaacGame";
                font-size: 2.5rem;
                font-weight: 700;
                text-align: center;
                line-height: 2rem;
            }
        }
    }
}

// #######################################
//      ITEM
// #######################################

.item {
    position: relative;
    height: 100%;
    width: 100%;

    .paperContainer {
        position: relative;
        height: 92%;
        width: 100%;

        &.desktop {
            height: 100%;
        }

        .description {
            position: relative;
            height: 92%;
            width: 100%;
            overflow-y: auto;
            margin-top: 5%;

            .content {
                pointer-events: none;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                min-height: 100%;
                width: 100%;

                .itemIcon {
                    height: 80px;
                    max-width: 110px;
                    object-fit: contain;
                    margin: 10px 0 0;
                    padding: 4px 6px;
                }

                .title {
                    max-width: 90%;
                    color: $text;
                    margin: 10px 0;
                    font-family: "Upheavtt";
                    font-size: 2.2rem;
                    text-align: center;
                    line-height: 2rem;

                    &.desktop {
                        font-size: 2.5rem;
                        line-height: 2.2rem;
                    }
                }

                .subtitle {
                    max-width: 90%;
                    color: $text;
                    margin: 0 0 10px 0;
                    font-family: "IsaacGame";
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-align: center;
                    line-height: 2rem;

                    &.desktop {
                        font-size: 2rem;
                        line-height: 2.5rem;
                    }
                }

                .description {
                    max-width: 98%;
                    color: $text;
                    opacity: 0.7;
                    margin: 0 0 15px 0;
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: center;

                    &.desktop {
                        font-size: 1.3rem;
                    }

                    &.gameFont {
                        font-family: "IsaacGame";
                        font-size: 1.2rem;

                        &.desktop {
                            font-size: 1.5rem;
                        }
                    }
                }

                .grow {
                    flex-grow: 1;
                }

                .type {
                    max-width: 90%;
                    color: $text;
                    margin: 50px 0 10px 0;
                    font-family: "Upheavtt";
                    font-size: 1.5rem;
                    text-align: center;

                    &.desktop {
                        font-size: 2rem;
                    }
                }

                .unlock {
                    max-width: 98%;
                    color: $subtitle;
                    margin: 0 0 10px 0;
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: center;

                    span {
                        color: $text;
                    }

                    &.desktop {
                        font-size: 1.3rem;
                    }

                    &.gameFont {
                        font-family: "IsaacGame";
                        font-size: 1.2rem;

                        &.desktop {
                            font-size: 1.5rem;

                            span {
                                font-size: 1.5rem;
                            }
                        }

                        span {
                            font-family: "IsaacGame";
                            font-size: 1.2rem;
                        }
                    }
                }

                .rechargeTime {
                    max-width: 98%;
                    color: $subtitle;
                    margin: 0 0 10px 0;
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: center;

                    span {
                        color: $text;
                    }

                    &.desktop {
                        font-size: 1.3rem;
                    }

                    &.gameFont {
                        font-family: "IsaacGame";
                        font-size: 1.2rem;

                        &.desktop {
                            font-size: 1.5rem;

                            span {
                                font-size: 1.5rem;
                            }
                        }

                        span {
                            font-family: "IsaacGame";
                            font-size: 1.2rem;
                        }
                    }
                }

                .pool {
                    max-width: 98%;
                    color: $subtitle;
                    margin: 0 0 10px 0;
                    font-size: 1rem;
                    font-weight: 700;
                    text-align: center;

                    span {
                        color: $text;
                    }

                    &.desktop {
                        font-size: 1.3rem;
                    }

                    &.gameFont {
                        font-family: "IsaacGame";
                        font-size: 1.2rem;

                        &.desktop {
                            font-size: 1.5rem;

                            span {
                                font-size: 1.5rem;
                            }
                        }

                        span {
                            color: $text;
                            font-family: "IsaacGame";
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }

    .back {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8%;
        width: 100%;
        opacity: 0.4;
        padding: 0 20px 12px;

        .backButton {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            .icon {
                transform: scaleX(-1);
                height: 1.5rem;
                max-height: 1.5rem;
                min-height: 1.5rem;
                width: 1.5rem;
                max-width: 1.5rem;
                min-width: 1.5rem;
            }

            .text {
                width: fit-content;
                color: $text;
                margin-left: 10px;
                font-family: "IsaacGame";
                font-size: 2.5rem;
                font-weight: 700;
                text-align: center;
                line-height: 2rem;
            }
        }
    }
}

// #######################################
//      CAMERA
// #######################################

.camera {
    position: relative;
    height: 100%;
    width: 100%;

    .paperContainer {
        position: relative;
        height: 92%;
        width: 100%;

        .content {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            width: 100%;

            .filler {
                flex-grow: 1;
                width: 100%;
            }

            .loadingIcon {
                position: absolute;
                z-index: 0;
                animation: rotate 2s linear infinite;
                margin: #{"min(42vw, 210px)"};

                height: #{"min(16vw, 80px)"};
                max-height: #{"min(16vw, 80px)"};
                min-height: #{"min(16vw, 80px)"};
                width: #{"min(16vw, 80px)"};
                max-width: #{"min(16vw, 80px)"};
                min-width: #{"min(16vw, 80px)"};

                @keyframes rotate {
                    from {
                        transform: rotate(0deg);
                    }
                    to {
                        transform: rotate(360deg);
                    }
                }
            }

            .webcam {
                z-index: 10;
                width: #{"min(78vw, 390px)"};
                margin: #{"min(11vw, 55px)"};
                @include border-radius(50vw);
            }

            .camBorder {
                z-index: 20;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                height: #{"min(80vw, 400px)"};
                width: #{"min(80vw, 400px)"};
                background-image: url("resources/icons/CamBorderWithFrame.svg");
                background-size: 100%;
                margin: #{"min(10vw, 50px)"};

                &.withFrame {
                    background-image: url("resources/icons/CamBorderWithFrame.svg");
                }
            }

            .cropped {
                width: 60vw;
            }

            .hint {
                position: absolute;
                margin-top: #{"min(100vw, 500px)"};
                font-family: "IsaacGame";
                font-size: 1.5rem;
                font-weight: 700;
                text-align: center;
                line-height: 2rem;
                opacity: 0.4;
                max-width: 90%;
            }

            .camButton {
                margin: 1rem 0;
                padding: 1rem;

                .camIcon {
                    height: 3.5rem;
                    max-height: 3.5rem;
                    min-height: 3.5rem;
                    width: 3.5rem;
                    max-width: 3.5rem;
                    min-width: 3.5rem;
                }
            }

            .screenshot {
                z-index: 10;
                width: #{"min(78vw, 390px)"};
                margin: #{"min(11vw, 55px)"};
                @include border-radius(50vw);
            }

            .retake {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 7.5rem;

                .retakeButton {
                    width: fit-content;
                    color: $text;
                    font-family: "IsaacGame";
                    font-size: 2.5rem;
                    font-weight: 700;
                    text-align: center;
                    padding: 1rem;
                    margin: 0.5rem;
                }
            }

            .possibleItems {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                width: calc(100% - 10px);
                margin: 0 5px;
                flex-grow: 1;

                .loadingItems {
                    position: absolute;
                    z-index: 0;
                    animation: rotate 2s linear infinite;
                    margin: #{"min(42vw, 210px)"};

                    height: #{"min(16vw, 80px)"};
                    max-height: #{"min(16vw, 80px)"};
                    min-height: #{"min(16vw, 80px)"};
                    width: #{"min(16vw, 80px)"};
                    max-width: #{"min(16vw, 80px)"};
                    min-width: #{"min(16vw, 80px)"};

                    @keyframes rotate {
                        from {
                            transform: rotate(0deg);
                        }
                        to {
                            transform: rotate(360deg);
                        }
                    }
                }

                .itemIcon {
                    height: 50px;
                    max-width: 70px;
                    object-fit: contain;
                    padding: 4px 6px;
                }
            }
        }
    }

    .browse {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 8%;
        width: 100%;
        opacity: 0.4;
        padding: 0 20px 12px;

        .browseButton {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;

            .icon {
                transform: rotate(-80deg);
                height: 1.5rem;
                max-height: 1.5rem;
                min-height: 1.5rem;
                width: 1.5rem;
                max-width: 1.5rem;
                min-width: 1.5rem;
            }

            .text {
                width: fit-content;
                color: $text;
                margin-left: 10px;
                font-family: "IsaacGame";
                font-size: 2.5rem;
                font-weight: 700;
                text-align: center;
                line-height: 2rem;
            }
        }
    }
}
